.artcard {
  overflow: hidden;
  width: 100%;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.artcard img {
  display: block;
  float: center;
  height: 50%;
  width: 100%;
}

.artcard a {
  display: block;
  color: black;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.artcard :hover {
  background-color: #ddd;
  color: black;
}

@keyframes pop {
  0% {
    color: black;
  }
  12.5% {
    color: #ff0000;
  }
  25% {
    color: #ffa500;
  }
  37.5% {
    color: #ffff00;
  }
  50% {
    color: #00ff00;
  }
  62.5% {
    color: #0000ff;
  }
  75% {
    color: #4b0082;
  }
  87.5% {
    color: #ee82ee;
  }
  100% {
    color: black;
  }
}

.artcard-title {
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
}

.artcard-text {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  width: 100%;
}

.content-left {
  float: left;
  width: 60%;
  height: 500px;
  margin-bottom: 20px;
}

.content-right {
  float: left;
  width: 40%;
  height: 500px;
  margin-bottom: 20px;
  
}
