/* ------ CARDS ----- */
.artcard {
  padding: 10px;
  overflow: hidden;
  width: 33.33%;
  height: 400px;
  float: left;
}

.artcard img {
  height: 50%;
  width: 100%;
}

.artcard-year {
  font-family: "Overpass", sans-serif;
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
  vertical-align: baseline;

  border-radius: 2px;
  border: 1px Solid #333;
  color: #333;
  padding: 5px 5px 2px 5px;
  margin: 10px 0px 0px 10px;
  float: left;
}

.artcard-title {
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  font-size: 24px;
  padding: 5px;
  margin-left: 50px;
  margin-top: 5px;
}

.artcard-text {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  height: 50px;
  padding: 5px;
  margin-left: 5px;
}

.LearnMore {
  border-radius: 5px;
  border: 1px Solid #ddd;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.LearnMore:hover {
  border: 1px Solid red;
  background-color: red;
  color: white;
}


@media screen and (max-width: 1100px) {
  .artcard {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 750px) {
  .artcard {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


/* ------ CONTENTS ----- */
.article {
  float: left;
  width: 70%;
  margin-bottom: 20px;
}

.infobox {
  float: right;
  width: 30%;
}

.infobox table {
  margin: 2em 0px;
  border: 1px solid black;
}

.infobox td, th {
  border: 1px solid black;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .article .infobox {
    width: 100%;
  }
}