/* ------ FOOTER ----- */
.footer {
  display: block;
  background-color: #333;
  text-align: center;
  color: #f2f2f2;
  padding: 50px 25px;
}

.column-footer1 {
  float: left;
  width: 70%;
}

.column-footer2 {
  float: left;
  width: 30%;
}